<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create or Edit Buyer</title>
</head>
<div th:insert="commonLinks :: navigationLinks"></div>
<body>
<h1 th:text="${buyerDetails.buyerId != null} ? 'Edit Buyer' : 'Create Buyer'">Buyer Form</h1>
<form th:action="@{/buyers}" th:object="${buyerDetails}" method="post">
    <input type="hidden" th:field="*{buyerId}">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" th:field="*{name}" required>
    </div>
    <div>
        <label for="address">Address:</label>
        <input type="text" id="address" th:field="*{address}" required>
    </div>
    <div>
        <label for="gstNo">GST No:</label>
        <input type="text" id="gstNo" th:field="*{gstNo}" >
    </div>
    <div>
        <label for="createdBy">Created By:</label>
        <input type="text" id="createdBy" th:field="*{createdBy}" required>
    </div>
    <button type="submit">Save</button>
</form>
<a th:href="@{/buyers/list}">Cancel</a>
<br/><br/>


<br/><br/>
</body>
</html>
