<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Common Links</title>
</head>
<body>
<div th:fragment="navigationLinks">
    <h3>Cab Service Menu</h3>
    <a th:href="@{/buyers/new}">Add New Buyer</a><br/>
    <a th:href="@{/buyers/list}">List of Buyer</a><br/>
    <a th:href="@{/user/invoice/upload-page}">Invoice Upload page</a><br/>
    <a th:href="@{/users/list}">List of User</a><br/>
    <a th:href="@{/invoice/list}">List of Invoice</a><br/><br/><br/>
</div>
</body>
</html>
